<%- include('partials/header', {title: '| Edit Inventory'}) %> 

<h1 class="mt-3">Edit Inventory</h1>
<form action="/user/inventory/<%= inventory._id %>?_method=PUT" method="post">
    <div class="form-group my-3">
    <label for="who">I'm resentful at:</label>
    <input type="text" class="form-control" id="who" name="who" required autocomplete="off" placeholder="I'm resentful at" value="<%= inventory.who %> ">
    </div>
    <div class="form-group my-3">
    <label for="why" >The cause is:</label>
    <textarea type="text" class="form-control" name="why" id="why" required placeholder="The cause is"><%= inventory.why %> </textarea>
    </div>
    <div class="form-group my-3">
        <label for="affects">Affects my:</label>
        <div class= form-group>
        <label for="fear">Fear</label>
        <input class="form-check-input" type="checkbox" name="fear" id="fear" value="Fear"<%= inventory.fear == 'Fear'? "checked" : ""%>>
        </div>
        <div class= form-group>
        <label for="selfEsteem">Self-esteem</label>
        <input class="form-check-input" type="checkbox" name="selfEsteem" id="selfEsteem" value="Self-Esteem" <%= inventory.selfEsteem == 'Self-Esteem' ? "checked" : ""%>>
        </div>
        <div class= form-group>
       <label for="security">Security</label>
       <input class="form-check-input" type="checkbox" name="security" id="security" value="Security" <%= inventory.security == 'Security'? "checked" : ""%>>
        </div>
        <div class= form-group>
        <label for="personalRelationship">Personal relationship</label>
         <input class="form-check-input" type="checkbox" name="personalRelationship" id="personalRelationship" value="Personal Relationship" <%= inventory.personalRelationship == 'Personal Relationship'? "checked" : ""%>>
        </div>
         <div class= form-group>
        <label for="sexRelations">Sex relations</label>
        <input class="form-check-input" type="checkbox" name="sexRelations" id="sexRelations" value="Sex Relations" <%= inventory.sexRelations == 'Sex Relations'? "checked" : ""%>>
        </div>
         <div class= form-group>
         <label for="pride">Pride</label>
        <input class="form-check-input" type="checkbox" name="pride" id="pride" value="Pride" <%= inventory.pride == 'Pride'? "checked" : ""%>>
         </div>
    </div>
    <div class="form-group my-3">
        <label for="myPart">My mistakes:</label>
        <textarea type="text" class="form-control" cols="30" rows="10" name="myPart" id="myPart" placeholder="Where have I been selfish, dishonest, or afraid?"><%= inventory.myPart %> </textarea>
        </div>
        <input type="submit" value="Save" class="btn btn-success">
    </form>

<%- include('partials/footer') %> 