<%- include('partials/header', {title: '| Home'}) %> 

<h1 class="m-5 text-center text-capitalize">Welcome <%= name %>!</h1>

<form action="/user" method="post">
<div class="form-control my-5 text-center">
<label for="date">Please enter your sobriety date:</label>
<input type="date" name="date" id="date">
<input type="submit" class="btn btn-success">
</div>
</form>



<% soberDate.forEach(element => { %>
  <!-- convert date to String so I can display easier -->
    <% let myDate = element.date.toUTCString() %> 
  <!-- Store current date and date entered by user in variable and calculate difference in time to get Milliseconds of difference -->
    <% let myDate1 = new Date(element.date) %> 
    <% let myDate2 = new Date() %> 
    <% let difference = myDate2.getTime() - myDate1.getTime() %> 
    
  <!-- formula to change difference in milliseconds to difference in days. Day is off by 1 day b/c Mongo Send back Date in different Time zone -->
    <% let days = Math.ceil(difference/(1000 * 3600 * 24)) %> 
    <!-- Use difference in MS  to calculate difference in hours then convert to string for display purposes -->
    <% let hours = ((difference / 3600000).toFixed(0) - 7).toString() %> 
  <!-- Sub string of myDate to I can arrange format easily -->
    <% let newDate = myDate.substr(0, 16) %>
    <% let cleanDate = `${newDate.substr(0, 3)} ${newDate.substr(8,3)} ${newDate.substr(5, 2)}, ${newDate.substr(12, 4)}`%>  
    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Your Sobriety Date is: <%= cleanDate %></h5>
          <h6>Great Job! You've been sober for:</h6>
          <!-- Using days or hours from above convert to unit of time I want and display for user -->
          <div class="soberDisplay"> <%= ((days - 1)/365).toFixed(2) %> Years</div>
          <div class="soberDisplay"><%= ((days - 1) * 0.0329).toFixed(2) %> Months </div>
          <div class="soberDisplay"> <%= days - 1 %> Days</div>
          <div class="soberDisplay"> <%= `${hours.substr(0, 2)},${hours.substr(2, 4)}` %> Hours</div>
          
          <form action="/user?_method=DELETE" method="post" class mt-4>
            <div class="form-group">
                <button type="submit" class="btn btn-warning mt-2">Remove</button>
            </div>
            </form>

        </div>
      </div>
<% }) %>

<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title text-center"> Today's Daily Reflection:</h5>
    <div class="lead fst-italic"><%= dailyReflectionHeader %> </div>
    <div class="lead fst-italic"><%= dailyReflectionTitle %></div>
    <div class="mt-3"><%= dailyReflectionContent %></div>
  </div>
</div>




<%- include('partials/footer') %> 