<%- include('partials/header', {title: '| Profile'}) %> 


<div class="card my-5">
    <div class="card-body">
        <h5>Name:</h5>
        <div class="text-capitalize"><%= name %></div>
        <h5 class="mt-3">Email: </h5>
        <div><%= email %></div>
    </div>

</div>
<form action="/user/profile/<%= id %>?_method=DELETE" method="post" class mt-4>
    <div class="form-group my-2 text-center">
        <button type="submit" class="btn btn-danger">Delete Account</button>
    </div>
    </form>


<%- include('partials/footer') %> 