<%- include('partials/header', {title: '| Inventory'}) %> 

<div class="card my-5">
    <div class="card-body">
        <h5>I'm resentful at:</h5>
        <div><%= inventory.who %></div>
        <h5 class="mt-3">Because:</h5>
        <div><%= inventory.why %></div>
        <h5 class="mt-3">Affects my:</h5>
        <div><%= inventory.fear %></div>
        <div><%= inventory.selfEsteem%></div>
        <div><%= inventory.security %></div>
        <div><%= inventory.personalRelationship %></div>
        <div><%= inventory.sexRelations %></div>
        <div><%= inventory.pride %></div>
        <h5 class="mt-3">My part is:</h5>
        <div><%= inventory.myPart %></div>
        <a href="/user/inventory/edit/<%= inventory._id %>" class="btn btn-secondary mt-3">Edit</a>
    </div>
</div>

<form action="/user/inventory/<%= inventory._id %>?_method=DELETE" method="post" class mt-4>
<div class="form-group text-center">
    <button type="submit" class="btn btn-danger">Delete</button>
</div>
</form>

<%- include('partials/footer') %> 