<%- include('partials/header', {title: "| Review"}) %> 

<div class="card my-5">
    <div class="card-body">
        <p class="lead">You've completed your nightly review! </p>
        <p class="lead">Be careful not to drift into worry, remorse or morbid reflection, for that would diminish our usefulness to others.</p>
        <p class="lead">After making our review we ask God's forgiveness and inquire what corrective measures should be taken.</p>


        <h5 class="mt-4">1. When we retire at night, we constructively review our day. Were we resentful?</h5>
        <div class="lead"><%= review.q1 %></div>
        <div><%= review.describe1 %></div>

        <h5 class="mt-2">2. Were we selfish?</h5>
        <div class="lead"><%= review.q2 %></div>
        <div><%= review.describe2 %></div>

        <h5 class="mt-2">3. Were we dishonest?</h5>
        <div class="lead"><%= review.q3 %></div>
        <div><%= review.describe3 %></div>

        <h5 class="mt-2">4. Were we afraid?</h5>
        <div class="lead"><%= review.q4 %></div>
        <div><%= review.describe4 %></div>

        <h5 class="mt-2">5. Do we owe an apology?</h5>
        <div class="lead"><%= review.q5 %></div>
        <div><%= review.describe5 %></div>

        <h5 class="mt-2">6. Have we kept something to ourselves which should be discussed with another person at once?</h5>
        <div class="lead"><%= review.q6 %></div>
        <div><%= review.describe6 %></div>

        <h5 class="mt-2">7. Were we kind and loving toward all?</h5>
        <div class="lead"><%= review.q7 %></div>
        <div><%= review.describe7 %></div>

        <h5 class="mt-2">8. What could we have done better?</h5>
        <div><%= review.describe8 %></div>

        <h5 class="mt-2">9. Were we thinking of ourselves most of the time?</h5>
        <div class="lead"><%= review.q9 %></div>
        <div><%= review.describe9 %></div>

        <h5 class="mt-2">10. Or were we thinking of what we could do for others, of what we could pack into the stream of life?</h5>
        <div class="lead"><%= review.q10 %></div>
        <div><%= review.describe10 %></div>
        
        <form action="/user/reviews/<%= review._id %>?_method=DELETE" method="post" class mt-4>
            <div class="form-group mt-4 text-center">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
            </form>
    </div>
</div>



<%- include('partials/footer') %> 